msg-lib-demo/target/classes/Library/refresh_cache.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd" >
    <flow name="refreshCache">
        <http:listener config-ref="HTTP_Listener_Configuration" path="${http.refresh.path}" doc:name="GetRefreshHTTPReq" />
        <set-variable variableName="projectName" value="#[message.inboundProperties.'http.query.params'.projectName]" doc:name="projectName"/>
        <set-variable variableName="Source" value="ClearCache" doc:name="setCacheIndicator"/>
       <custom-transformer class="WorkBench.JavaCache" doc:name="callClearCacheJava ">
           <spring:property name="connectionPort" value="${iiw.connectionport}"/>
            <spring:property name="password" value="${iiw.password}"/>
            <spring:property name="DBuser" value="${iiw.databaseuser}"/>
            <spring:property name="connection" value="${iiw.connection}"/>
            <spring:property name="user" value="${iiw.user}"/>
        </custom-transformer>
        <logger message="Cache is now refreshed" level="INFO" doc:name="logPayload"/>
      </flow>
</mule>
